In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime,time,timedelta,date
import math
from pandas.plotting import scatter_matrix
%matplotlib inline

In [14]:
df = pd.read_csv('AW_test.csv',parse_dates=[13])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 23 columns):
CustomerID              500 non-null int64
Title                   4 non-null object
FirstName               500 non-null object
MiddleName              284 non-null object
LastName                500 non-null object
Suffix                  1 non-null object
AddressLine1            500 non-null object
AddressLine2            13 non-null object
City                    500 non-null object
StateProvinceName       500 non-null object
CountryRegionName       500 non-null object
PostalCode              500 non-null object
PhoneNumber             500 non-null object
BirthDate               500 non-null datetime64[ns]
Education               500 non-null object
Occupation              500 non-null object
Gender                  500 non-null object
MaritalStatus           500 non-null object
HomeOwnerFlag           500 non-null int64
NumberCarsOwned         500 non-null int64
NumberChildrenAtHome    500 non-null int64
TotalChildren           500 non-null int64
YearlyIncome            500 non-null int64
dtypes: datetime64[ns](1), int64(6), object(16)
memory usage: 89.9+ KB

In [16]:
df['Ref_date']=date(year = 1998, month = 1, day = 1)
df['Ref_date']=pd.to_datetime(df['Ref_date'])
df['Age_days'] = df['Ref_date']- df['BirthDate']
df['Age'] =  df['Age_days'].astype('timedelta64[Y]')

In [17]:
# drop unneccessary columns
df.drop(['Title','FirstName','LastName','MiddleName','Suffix','AddressLine1',
           'AddressLine2','StateProvinceName','PhoneNumber','City','CountryRegionName','HomeOwnerFlag',
            'NumberCarsOwned'], axis=1, inplace=True)

In [18]:
df.drop(['BirthDate','PostalCode','TotalChildren','Ref_date','Age_days'], 
          axis=1, inplace=True)

In [19]:
df.dtypes

CustomerID                int64
Education                object
Occupation               object
Gender                   object
MaritalStatus            object
NumberChildrenAtHome      int64
YearlyIncome              int64
Age                     float64
dtype: object

In [20]:
df['log_Income'] = np.log(df['YearlyIncome'])
df['log_Age'] = np.log(df['Age'])

In [21]:
df.drop(['log_Age','log_Income'], axis=1, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
CustomerID              500 non-null int64
Education               500 non-null object
Occupation              500 non-null object
Gender                  500 non-null object
MaritalStatus           500 non-null object
NumberChildrenAtHome    500 non-null int64
log_Income              500 non-null float64
log_Age                 500 non-null float64
dtypes: float64(2), int64(2), object(4)
memory usage: 31.3+ KB

In [23]:
df.to_csv('AW_Test_Preped.csv', index = False, header = True)